/* CSS */
body {
  background-color: rgb(66,66,66);
}
[md-header-picture] {
    position: absolute;
    width:100%;
    height:0; /* Simple trick to keep a 16:9 ratio on your background image (height=0;padding-bottom=56.25%) */
    padding-bottom: 56.25%;
    overflow:hidden;
    background-size:160%; /* You can override this value if your picture has a weird ratio */
    background-position:50% 50%;
}

.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}

md-toolbar {
  .md-button.md-default-theme {
    border-radius: 9999px; // round toolbar buttons
  }
}

[scroll] {
  position:fixed;
  top:0;
}

.fixed-footer {
  position: fixed;
  bottom: 0px;
}

md-grid-list {
  margin:0;
}
md-grid-list md-grid-tile.event-tile {
  overflow: hidden;
}
md-grid-list md-grid-tile.event-tile img.bg-image, .page-header img.header-background {
  width: 120%;
  left:-10%;
  top:-10%;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
md-grid-list md-grid-tile.event-tile md-grid-tile-footer, md-grid-list md-grid-tile.event-tile md-grid-tile-header {
  height: initial;
  max-height: 50%;
  padding: 5px;
  background: rgba(0,0,0,.33);
}
md-grid-list md-grid-tile md-grid-tile-footer h3, md-grid-list md-grid-tile md-grid-tile-footer h4, md-grid-list md-grid-tile md-grid-tile-header h3, md-grid-list md-grid-tile md-grid-tile-header h4 {
  margin:0;
  text-transform: capitalize;
}
md-grid-list md-grid-tile md-grid-tile-footer h3, md-grid-list md-grid-tile md-grid-tile-header h3 {
  font-size: 16px;
  font-weight: 600;
}
md-grid-list md-grid-tile md-grid-tile-footer h4, md-grid-list md-grid-tile md-grid-tile-header h4 {
  font-size: 14px;
}
#login-form md-input-container {
  margin:0;
}
.dark-background {
  background: hsla(0,0%,0%,.1);
}
.avatar-list md-list-item-inner .avatar-text {
  margin-top:0;
  line-height:1;
  text-align: center;
}
header.page-header {
  overflow: hidden;
  height: 50vh;
}
.large-headshot {
  border-radius: 9999px;
}

.pad-text {
  padding-bottom:20px;
}

md-input-container.md-default-theme label, md-input-container label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder {
  color: rgba(255,255,255,.6);
}

md-input-container.md-default-theme .md-input, md-input-container .md-input {
  text-shadow: none ;
  color: #000;
}
