<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Hack UCSC 2016</title> <!-- TODO -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link rel="stylesheet" href="assets/css/app.css"/>
</head>
<body ng-app="HackUCSC2016" ng-cloak>
    <div ng-controller="CommentCtrl" ng-cloak>
      <md-content>
        <md-list>
         <md-subheader class="md-no-sticky">3 line item, long paragraph (see on mobile)</md-subheader>
            <md-list-item ng-repeat="msg in commentChain" class="md-3-line md-long-text">
              <img ng-if="msg.who != curUser" ng-src="{{ msg.pic }}" class="md-avatar" alt="{{ msg.who }}" />
              <div class="md-list-item-text">
                <h3 ng-if="msg.who != curUser">{{ msg.who }}</h3>
                <p>
                  {{ msg.text }}
                </p>
              </div>
              <img ng-if="msg.who == curUser" ng-src="{{ msg.pic }}" class="md-avatar" alt="{{ msg.who }}" />
            </md-list-item>
       </md-list>
      </md-content>
    </div>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

  <!--
  <script src="assets/js/x.js"></script>
  -->
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    angular.module('HackUCSC2016', ['ngMaterial'])
    .controller('CommentCtrl', function($scope) {
      var commentChain = [ 
      {
        pic: 'assets/images/hack.jpg',
        who: 'Erin Springer',
        text: 'Primary Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.'
      },
      {
        pic: 'assets/images/hack.jpg',
        who: 'Erin Springer',
        text: 'Seconday Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.'
      },
      {
        pic: 'assets/images/face2.jpg',
        who: 'George Washington',
        text: 'Tertiary Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.'
      },
      {
        pic: 'assets/images/face3.jpg',
        who: 'Abraham Drinkin',
        text: 'Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.'
      }];
      $scope.commentChain = commentChain;
      $scope.curUser = 'Erin Springer';
    });
  </script>

</body>
</html>
