<!DOCTYPE html>
<html lang="en" ng-app="HackUCSC2016">
<head>
  <title>Hack UCSC 2016</title> <!-- TODO -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/app.css"/>
</head>
<body ng-controller="CommentCtrl">
<div>
  <header md-page-header>
    <div md-header-picture style="height: 300px; background-image:url(assets/images/backgroundtest.jpg)"></div>
    <md-toolbar scroll>
      <div class="md-toolbar-tools">
        <md-button class="md-tools" aria-label="Go Back">
          <md-icon aria-label="keyboard_arrow_left" class="material-icons">keyboard_arrow_left</md-icon>
        </md-button>
        <h2 md-header-title flex>Hiking in Henry Cowell</h2>
        <md-button class="md-tools" aria-label="Edit Contact">
          <md-icon aria-label="assistant Photo" class="material-icons">&#xE3A0;</md-icon>
        </md-button>
        <md-button class="md-tools" aria-label="More">
          <md-icon aria-label="assistant Photo" class="material-icons">&#xE3E3;</md-icon>
        </md-button>
      </div>
    </md-toolbar>
  </header>
  <md-content md-theme="altTheme">
    <section>
      <md-subheader class="md-primary" sticky-state="next">Messages</md-subheader>
      <md-list layout-padding>
        <md-list-item class="md-3-line" ng-repeat="message in commentChain">
          <img ng-if="message.who != curUser" ng-src="{{message.pic}}" class="md-avatar" alt="{{message.who}}">
          <div class="md-list-item-text">
            <h3 ng-if="message.who != curUser">{{ message.who }}</h3>
            <p ng-if="message.who != curUser">
              {{ message.text }}
            </p>
            <p ng-if="message.who == curUser" align="right" style="padding-right: 20px;">
              {{ message.text }}
            </p>
          </div>
          <img ng-if="message.who == curUser" ng-src="{{message.pic}}" class="md-avatar" alt="{{message.who}}">
          <md-divider ></md-divider>
        </md-list-item>
      </md-list>
    </section>
    <section>
      <md-subheader class="md-warn">Late Messages</md-subheader>
      <md-list layout="column" layout-padding>
        <md-list-item class="md-3-line" ng-repeat="message in messages">
          <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
          <div class="md-list-item-text">
            <h3>{{message.what}}</h3>
            <h4>{{message.who}}</h4>
            <p>
              {{message.notes}}
            </p>
          </div>
        </md-list-item>
      </md-list>
    </section>
    <section>
      <md-subheader>Read Messages</md-subheader>
      <md-list layout="column" layout-padding>
        <md-list-item class="md-3-line" ng-repeat="message in messages">
          <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
          <div class="md-list-item-text">
            <h3>{{message.what}}</h3>
            <h4>{{message.who}}</h4>
            <p>
              {{message.notes}}
            </p>
          </div>
        </md-list-item>
      </md-list>
    </section>
    <section>
      <md-subheader class="md-accent">Archived messages</md-subheader>
      <md-list layout="column" layout-padding>
        <md-list-item class="md-3-line" ng-repeat="message in messages">
          <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
          <div class="md-list-item-text">
            <h3>{{message.what}}</h3>
            <h4>{{message.who}}</h4>
            <p>
              {{message.notes}}
            </p>
          </div>
        </md-list-item>
      </md-list>
    </section>
  </md-content>
</div>
  <!--<header md-page-header>
    <div md-header-picture style="background-image:url(http://3.bp.blogspot.com/-8jk6pwVieck/TiDjWyDdWHI/AAAAAAAAAbQ/n22FFKf9bvs/s1600/259699_219094411455453_214219875276240_696700_4217591_o.jpg)"></div>
    <md-toolbar scroll>
      <div class="md-toolbar-tools">
        <md-button class="md-tools" aria-label="Go Back">
          <md-icon aria-label="keyboard_arrow_left" class="material-icons">keyboard_arrow_left</md-icon>
        </md-button>
        <h2 md-header-title flex>Sari Yanti</h2>
        <md-button class="md-tools" aria-label="Edit Contact">
          <md-icon aria-label="assistant Photo" class="material-icons">&#xE3A0;</md-icon>
        </md-button>
        <md-button class="md-tools" aria-label="More">
          <md-icon aria-label="assistant Photo" class="material-icons">&#xE3E3;</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div class="main-fab">
      <md-button aria-label="Float Action Button" class="md-fab md-accent">
        <md-icon aria-label="airline_seat_recline_extra" class="material-icons">&#xE636;</md-icon>
      </md-button>
    </div>
  </header>
  <md-content md-theme="altTheme">
    <section>
      <md-subheader class="md-primary"> Messages</md-subheader>
      <md-list>
        <md-list-item ng-repeat="msg in commentChain" class="md-3-line md-long-text">
            <img ng-if="msg.who != curUser" ng-src="{{ msg.pic }}" class="md-avatar" alt="{{ msg.who }}" />
            <div class="md-list-item-text">
              <h3 ng-if="msg.who != curUser">{{ msg.who }}</h3>
              <p>
                {{ msg.text }}
              </p>
            </div>
            <img ng-if="msg.who == curUser" ng-src="{{ msg.pic }}" class="md-avatar" alt="{{ msg.who }}" />
            <md-divider ></md-divider>
          </md-list-item>
     </md-list>
      <div style="width: 100%; position:relative; bottom:0; background: #fff;">
        <section layout="row" layout-align="center center">
          <md-input-container style="width: 50%";>
            <input ng-model="message">
          </md-input-container>
          <md-button class="md-icon-button" aria-label="Send">
          <md-icon class="material-icons">input</md-icon>
          </md-button>
        </section>
      </div>
      </section>
  </md-content>  </div>-->

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

  <!--
  <script src="assets/js/x.js"></script>
  -->
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    document.body.scrollTop = 0;
    angular.module('HackUCSC2016', ['ngMaterial'])
    .directive("scroll", function ($window) {
    // taken from http://codepen.io/infacq/pen/ZGabYq

    return function(scope, element, attrs) {

      /* header DOM element with md-page-header attribute */
      var header         = document.querySelector('[md-page-header]');
      /* Store header dimensions to initialize header styling */
      var baseDimensions = header.getBoundingClientRect();
      /* DOM element with md-header-title attribute (title in toolbar) */
      var title          = angular.element(document.querySelector('[md-header-title]'));
      /* DOM element with md-header-picture attribute (picture in header) */
      var picture        = angular.element(document.querySelector('[md-header-picture]'));
      /* DOM element with main-fab class (a DOM element which contains the main float action button element) */
      var fab            = angular.element(document.querySelector('.main-fab'));
      /* The height of a toolbar by default in Angular Material */
      var legacyToolbarH = 64;
      /* The mid-height of a float action button by default in Angular Material */
      var legacyFabMid   = 56/2;
      /* The zoom scale of the toolbar title when it's placed at the bottom of the header picture */
      var titleZoom      = 1.5;
      /* The primary color palette used by Angular Material */
      var primaryColor   = [63,81,181];
      
      function styleInit () {
        title.css('padding-left','16px');
        title.css('position','relative');
        title.css('transform-origin', '24px');
      }

      function handleStyle(dim) {
        fab.css('top',(dim.height-legacyFabMid)+'px');
        if ((dim.bottom-baseDimensions.top) > legacyToolbarH) {
          title.css('top', ((dim.bottom-baseDimensions.top)-legacyToolbarH)+'px');
          element.css('height', (dim.bottom-baseDimensions.top)+'px');
          title.css('transform','scale('+((titleZoom-1)*ratio(dim)+1)+','+((titleZoom-1)*ratio(dim)+1)+')');
          
        } else {
          title.css('top', '0px');
          element.css('height', legacyToolbarH+'px');
          title.css('transform','scale(1,1)');
        }
        if ((dim.bottom-baseDimensions.top) < legacyToolbarH*2 && !fab.hasClass('hide')) {
          fab.addClass('hide');
        }
        if((dim.bottom-baseDimensions.top)>legacyToolbarH*2 && fab.hasClass('hide')) {
          fab.removeClass('hide');
        }       
        element.css('background-color','rgba('+primaryColor[0]+','+primaryColor[1]+','+primaryColor[2]+','+(1-ratio(dim))+')');
        picture.css('background-position','50% '+(ratio(dim)*50)+'%');
        /* Uncomment the line below if you want shadow inside picture (low performance) */
        //element.css('box-shadow', '0 -'+(dim.height*3/4)+'px '+(dim.height/2)+'px -'+(dim.height/2)+'px rgba(0,0,0,'+ratio(dim)+') inset');
      }

      function ratio(dim) {
        var r = (dim.bottom-baseDimensions.top)/dim.height;
        if(r<0) return 0;
        if(r>1) return 1;
        return Number(r.toString().match(/^\d+(?:\.\d{0,2})?/));
      }

      styleInit();
      handleStyle(baseDimensions);

        /* Scroll event listener */
      angular.element($window).bind("scroll", function() {
        var dimensions = header.getBoundingClientRect();
        handleStyle(dimensions);
        scope.$apply();
      });
      
      /* Resize event listener */
      angular.element($window).bind('resize',function () {
        baseDimensions = header.getBoundingClientRect();
        var dimensions = header.getBoundingClientRect();
        handleStyle(dimensions);
        scope.$apply();
      });

    };

  })
    .controller('CommentCtrl', function($scope) {
      var commentChain = [ 
      {
        pic: 'assets/images/hack.jpg',
        who: 'Erin Springer',
        text: 'Primary Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.'
      },
      {
        pic: 'assets/images/hack.jpg',
        who: 'Erin Springer',
        text: 'Seconday Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.'
      },
      {
        pic: 'assets/images/face2.jpg',
        who: 'George Washington',
        text: 'Tertiary Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.'
      },
      {
        pic: 'assets/images/hack.jpg',
        who: 'Erin Springer',
        text: 'Seconday Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.'
      },
      {
        pic: 'assets/images/face2.jpg',
        who: 'George Washington',
        text: 'Tertiary Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.'
      },

      {
        pic: 'assets/images/hack.jpg',
        who: 'Erin Springer',
        text: 'Seconday Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.'
      },
      {
        pic: 'assets/images/face2.jpg',
        who: 'George Washington',
        text: 'Tertiary Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.'
      },

      {
        pic: 'assets/images/hack.jpg',
        who: 'Erin Springer',
        text: 'Seconday Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.'
      },
      {
        pic: 'assets/images/face2.jpg',
        who: 'George Washington',
        text: 'Tertiary Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.'
      },

      {
        pic: 'assets/images/hack.jpg',
        who: 'Erin Springer',
        text: 'Seconday Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.'
      },
      {
        pic: 'assets/images/face2.jpg',
        who: 'George Washington',
        text: 'Tertiary Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.'
      },

      {
        pic: 'assets/images/face3.jpg',
        who: 'Abraham Drinkin',
        text: 'Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.'
      }];
      $scope.commentChain = commentChain;
      $scope.curUser = 'Erin Springer';
    });
  </script>

</body>
</html>
