<!-- <h1>{{title}}</h1>-->
 
<div>
  <div layout="column" flex>
     <div flex>
      <form ng-submit="$event.preventDefault()">
        <md-autocomplete
            ng-disabled="ctrl.isDisabled"
            md-no-cache="ctrl.noCache"
            md-selected-item="ctrl.selectedItem"
            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
            md-search-text="ctrl.searchText"
            md-selected-item-change="ctrl.selectedItemChange(item)"
            md-items="item in ctrl.querySearch(ctrl.searchText)"
            md-item-text="item.display"
            md-min-length="0"
            placeholder="What do you want to do?">
          <md-item-template>
            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
          </md-item-template>
          <md-not-found>
            No states matching "{{ctrl.searchText}}" were found.
            <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
          </md-not-found>
        </md-autocomplete>
      </form>
    </div>
    <div flex="shrink">
      <form ng-submit="$event.preventDefault()">
        <md-autocomplete
            ng-disabled="ctrl.isDisabled"
            md-no-cache="ctrl.noCache"
            md-selected-item="ctrl.selectedItem"
            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
            md-search-text="ctrl.searchText"
            md-selected-item-change="ctrl.selectedItemChange(item)"
            md-items="item in ctrl.querySearch(ctrl.searchText)"
            md-item-text="item.display"
            md-min-length="0"
            placeholder="Where do you want to go?">
          <md-item-template>
            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
          </md-item-template>
          <md-not-found>
            No states matching "{{ctrl.searchText}}" were found.
            <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
          </md-not-found>
        </md-autocomplete>
      </form>
    </div>
    <div flex>
      <form ng-submit="$event.preventDefault()">
        <md-autocomplete
            ng-disabled="ctrl.isDisabled"
            md-no-cache="ctrl.noCache"
            md-selected-item="ctrl.selectedItem"
            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
            md-search-text="ctrl.searchText"
            md-selected-item-change="ctrl.selectedItemChange(item)"
            md-items="item in ctrl.querySearch(ctrl.searchText)"
            md-item-text="item.display"
            md-min-length="0"
            placeholder="Where do you want to go?">
          <md-item-template>
            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
          </md-item-template>
          <md-not-found>
            No states matching "{{ctrl.searchText}}" were found.
            <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
          </md-not-found>
        </md-autocomplete>
      </form>
    </div>
    <div flex>
      <form ng-submit="$event.preventDefault()">
        <md-autocomplete
            ng-disabled="ctrl.isDisabled"
            md-no-cache="ctrl.noCache"
            md-selected-item="ctrl.selectedItem"
            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
            md-search-text="ctrl.searchText"
            md-selected-item-change="ctrl.selectedItemChange(item)"
            md-items="item in ctrl.querySearch(ctrl.searchText)"
            md-item-text="item.display"
            md-min-length="0"
            placeholder="Where do you want to go?">
          <md-item-template>
            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
          </md-item-template>
          <md-not-found>
            No states matching "{{ctrl.searchText}}" were found.
            <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
          </md-not-found>
        </md-autocomplete>
      </form>
    </div>
  </div>
  <md-content flex >
    <md-grid-list
        md-cols="2" md-cols-sm="3" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="1:1"
        md-gutter="5px" md-gutter-gt-sm="5px" >
        
      <md-grid-tile ng-repeat="event in filtered"
                      md-rowspan="1"
                      md-colspan="1"
                      ng-class=""
                      class="event-tile" >

        <img src="{{event.image}}" alt="" class="bg-image">          
        <md-grid-tile-footer>
         <h3>{{event.name}}</h3>
         <h4>{{event.location}}</h4>
         <h4>{{event.date}}</h4>
        </md-grid-tile-footer>

      </md-grid-tile>

    </md-grid-list>
    
    <!-- need to design Create Event button -->
    <md-content ng-hide="filtered.length" layout-padding>
      <h2>Nobody is doing that!</h2>
      <md-button class="md-raised" ng-click="createEvent();">
        Fuck it I'm doing it anyway!
      </md-button>
    </md-content>
  </md-content> 
 
 
  
    
  
</div>

  
  <!--
  <md-toolbar md-scroll-shrink ng-cloak>
    <p>
        Name: <input ng-change="makeQuery()" ng-model="query.name">
      </p>
      <p>
        Date/Time: <input ng-change="makeQuery()" ng-model="query.date">
      </p>
      <p>
        Location: <input ng-change="makeQuery()" ng-model="query.location">
      </p>
  </md-toolbar> -->

  

