  <md-section>
      <md-grid-list
        md-cols="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="1:1"
        md-gutter="5px" md-gutter-gt-sm="5px" >
        
      <md-grid-tile ng-repeat="event in filtered"
                      md-rowspan="1"
                      md-colspan="1"
                      ng-class=""
                      class="event-tile">

        <img ng-src="{{event.img}}" alt="" class="bg-image">          
        <md-grid-tile-footer>
         <h3>{{event.name}}</h3>
         <h4>{{event.location}}</h4>
         <h4>{{event.datetime}}</h4>
        </md-grid-tile-footer>
      </md-grid-tile>

    </md-grid-list>
    
    <!-- need to design Create Event button -->
    <div ng-hide="filtered.length">
      <h2>Nobody is doing that!</h2>
      <md-button class="md-raised" ng-click="createEvent();">
        Fuck it I'm doing it anyway!
      </md-button>
    </div>
  </md-section>
