<header class="page-header" md-page-header style="height: 50vh;">
  <div md-header-picture >
    <img class="header-background" src="{{event.img}}" alt="">
  </div>
  <md-toolbar scroll>
    <div class="md-toolbar-tools">
      <md-button class="md-tools" aria-label="Go Back" ng-click="goBack()">
        <md-icon aria-label="keyboard_arrow_left" class="material-icons">keyboard_arrow_left</md-icon>
      </md-button>
      <h2 md-header-title flex>{{event.name}}</h2>
      <md-button ng-hide="joined" class="md-tools md-raised md-accent" aria-label="Join" ng-click="join()">
        JOIN
      </md-button>
      <md-button ng-show="joined" class="md-tools md-raised md-warn" aria-label="Leave" ng-click="leave()">
        LEAVE
      </md-button>
      <md-button class="md-tools" ng-click="flagToast()" aria-label="Edit Contact">
        <md-icon aria-label="assistant Photo" class="material-icons">&#xE3A0;</md-icon>
      </md-button>
    </div>
  </md-toolbar>
</header>
<md-content>
  <section>
  <div class="dark-background" >
    <md-subheader class="md-primary">Participants</md-subheader>
    <md-list layout-padding layout-wrap layout layout-align="center center" class="avatar-list">
      <md-list-item ng-hide="user.username" class="md-3-line" ng-repeat="user in users" layout="column" ng-click="userDetail(user.id)">
        <md-icon style="font-size: 46px; margin-top: 2px" class="material-icons">account_circle</md-icon>
      </md-list-item>
      <md-list-item ng-show="user.username" class="md-3-line" ng-repeat="user in users" layout="column" ng-click="userDetail(user.id)">
        <img ng-src="{{user.prefs.img}}" class="md-avatar" alt="{{user.username}}">
        <p class="avatar-text">{{ user.username }}</p>
      </md-list-item>
    </md-list>
    </div>
  </section>
  <section ng-show="joined">
    <md-subheader class="md-primary" sticky-state="next">Messages</md-subheader>
    <md-list layout-padding>
      <md-list-item class="md-3-line" ng-repeat="message in commentChain">
        <img ng-if="message.owner.username != curUser" ng-src="{{message.owner.prefs.img}}" class="md-avatar" alt="{{message.owner.username}}">
        <div class="md-list-item-text" style="padding: 10px;">
          <h3 ng-if="message.owner.username != curUser" style="padding-bottom: 5px;">{{ message.owner.username }}</h3>
          <p ng-if="message.owner.username != curUser">
            {{ message.text }}
          </p>
          <p ng-if="message.owner.username == curUser" align="right">
            {{ message.text }}
          </p>
        </div>
        <img ng-if="message.owner.username == curUser" ng-src="{{message.owner.prefs.img}}" class="md-avatar" alt="{{message.owner.username}}">
        <md-divider ></md-divider>
      </md-list-item>
    </md-list>
  </section>
  <section ng-show="joined" class="dark-background">
      <div  layout-align="center center" layout flex="70" flex-offset="15">
      <md-input-container flex="grow">
        <input type="text" ng-model="message" placeholder="Say something!">
      </md-input-container>
      <md-button class="md-icon-button" aria-label="Send" ng-click="postComment()">
        <md-icon class="material-icons">send</md-icon>
      </md-button>
      </div>
  </section>
</md-content>
