<header md-page-header>
  <md-toolbar scroll md-scroll-shrink>
    <div class="md-toolbar-tools" layout="row">
      <div flex="4">
        <md-icon aria-label="search" class="material-icons">search</md-icon>
      </div>
      <md-input-container md-theme="input" style="padding-top: 1.5em;" flex>
        <label>&nbsp;</label>
        <input ng-model="searcher" placeholder="Let's do something!" flex="62" ng-change="makeQuery()">
      </md-input-container>
      <md-button ng-click="myEvents()" flex="33">
        My Events
      </md-button>
    </div>
  </md-toolbar>
</header>
  <md-content style="padding-bottom: 56px; padding-top: 50px;">
    <md-section>
      <md-grid-list
        md-cols="2" md-cols-sm="3" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="1:1"
        md-gutter="0" md-gutter-gt-sm="0" >
        
      <md-grid-tile ng-repeat="event in filtered"
                      md-rowspan="1"
                      md-colspan="1"
                      ng-class=""
                      ng-click="getDetail(event.id)"
                      class="event-tile">
        <img ng-src="{{event.img}}" alt="" class="bg-image">
        <md-grid-tile-footer>
         <h3>{{event.name}}</h3>
         <h4>{{event.location}}</h4>
         <h4>{{event.datetime | date:"EEEE 'at' ha"}}</h4>
        </md-grid-tile-footer>
      </md-grid-tile>

    </md-grid-list>
  </md-section>
    <!-- need to design Create Event button -->
  <md-section>
    <div ng-hide="filtered.length > 0 || waiting" class="md-padding" layout="column" layout-align="center center">
      <h2>Awesome, let's schedule this!</h2>
      <h3>Don't worry, we'll take care of the invites.</h3>
      <form name='newEvent'>
      <md-input-container class="md-block">
        <input required type="text" ng-model="sub.name" placeholder="What are we doing?"/>
      </md-input-container>

      <div class="md-block" style="padding-bottom: 20px;">
        <md-datepicker ng-model="sub.datetime" md-placeholder="When?">
        </md-datepicker>
      </div>
      <md-input-container class="md-block">
        <label>How many people should we invite?</label>
        <input required type="number" step="any" name="group_size" ng-model="sub.group_size" min="3" max="50"/>
      </md-input-container>
      <md-input-container class="md-block">
        <input required type="text" ng-model="sub.location" placeholder="Where are we convening?"/>
      </md-input-container>
      <md-button class="md-raised md-primary" ng-disabled="newEvent.$invalid" ng-click="newEvent.$valid && createEvent();">
        <span style="padding-left: 10px; padding-right: 10px;">Make it happen!</span>
      </md-button>
      </form>
    </div>
  </md-section>
  </md-content>
</div>
