<div ng-controller="MainController" ng-cloak>
  <md-content>
    <md-tabs md-stretch-tabs="always" class="md-accent" md-selected="data.selectedIndex" md-align-tabs="bottom" md-no-pagination style="height: 100vh;">
wtf
      <md-tab id="tab1"style="height: 80vh;">
        <md-tab-label>
          <md-icon class="material-icons">add</md-icon>
        </md-tab-label>
        <md-tab-body style="height: 80vh;">
          <div class="md-padding">
          View for Item #1 is bullshit<br/>
          data.selectedIndex = 0;

          </div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2">
        <md-tab-label>
          <md-icon class="material-icons">list</md-icon>
</md-tab-label>
        <md-tab-body style="height: 80vh;">
          <div class="md-padding">
          View for Item #1 <br/>
          data.selectedIndex = 0;
          </div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab3" style="height: 80vh;">
        <md-tab-label><md-icon class="material-icons">perm_identity</md-icon>
</md-tab-label>
        <md-tab-body>
          <div class="md-padding">
          View for Item #1 <br/>
          data.selectedIndex = 0;
          </div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
