<header md-page-header>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-tools" aria-label="Go Back" ng-click="goBack()">
        <md-icon aria-label="keyboard_arrow_left" class="material-icons">keyboard_arrow_left</md-icon>
      </md-button>
      <h2 md-header-title flex>{{ details.username }}</h2>
      <md-button ng-show="!isMe" class="md-tools" ng-click="flagToast()" aria-label="Edit Contact">
        <md-icon aria-label="assistant Photo" class="material-icons">&#xE3A0;</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  </header>
<md-content class="md-padding">
  <section>
    <div layout="column" layout-align="center center">
      <img ng-src="{{ details.prefs.img }}" class="large-headshot">
    </div>
  </section>
  <section>
    <div layout="column" layout-align="center center" class="pad-text">
      <h1 ng-if="events.length > 1">{{ details.username }} has attended {{ events.length }} events</h1>
      <h1 ng-if="events.length == 1">{{ details.username }} has attended {{ events.length }} event</h1>
      <h1 ng-if="events.length == 0">{{ details.username }} hasn't attended any events</h1>
    </div>
  </section>
  <md-content style="padding-bottom: 56px; padding-top: 50px;">
    <md-section>
      <md-grid-list
        md-cols="2" md-cols-sm="3" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="1:1"
        md-gutter="0" md-gutter-gt-sm="0" >
        
      <md-grid-tile ng-repeat="event in events"
                      md-rowspan="1"
                      md-colspan="1"
                      ng-class=""
                      ng-click="getDetail(event.id)"
                      class="event-tile">
        <img ng-src="{{event.img}}" alt="" class="bg-image">
        <md-grid-tile-footer>
         <h3>{{event.name}}</h3>
         <h4>{{event.location}}</h4>
         <h4>{{event.datetime | date:"EEEE 'at' ha"}}</h4>
        </md-grid-tile-footer>
      </md-grid-tile>
      </md-grid-list>
    </md-section>
</md-content>
